@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Josefin Sans", sans-serif;
}

input {
	padding: 10px 20px;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-bottom: 15px;
}

a {
	text-decoration: none;
}
.register,
.login,
.replies,
.modal {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 30px;
}

.home{
	display: flex;
	width: calc(100% - 300px - 60px);
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	min-height: 100vh;
	padding: 30px;
	margin-left: 300px;
}
.registerTitle,
.loginTitle,
.homeTitle,
.repliesTitle {
	margin-bottom: 30px;
}

.homeTitle {
    text-align: center;
}

.homewatek {
    display: flex;
    width: 100%;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}
.registerForm,
.loginForm {
	width: 600px;
	display: flex;
	flex-direction: column;
}
.registerBtn,
.loginBtn,
.homeBtn,
.modalBtn {
	display: block;
	width: 200px;
	padding: 15px;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	font-weight: bold;
	color: #fffbf5;
	background-color: #14213d;
	margin: 0 auto 15px auto;
}

.registerBtn:hover,
.loginBtn:hover,
.homeBtn:hover,
.modalBtn:hover {
	background-color: #0b1429;
}
.homeForm {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin-bottom: 30px;
}
.home__container {
	display: flex;
	flex-direction: column;
	width: 75%;
}
.homeBtn {
	margin-bottom: 0px;
}
.thread__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 65%;
	margin: 20px;
	flex: 3;
	margin-left: 300px;

}
.thread_container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 65%;
	margin: 20px;
	flex: 3;

}
.thread__item {
	padding: 20px;
	width: 80%;
	box-shadow: 0 0 1px 1px #778da9;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.thread__itemek {
	padding: 20px;
	width: 80%;
	box-shadow: 0 0 1px 1px #778da9;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 20px;
}

.likes__container {
	display: flex;
	align-items: center;
	margin-right: 25px;
}
.likesBtn {
	height: 30px;
	color: #fca311;
	cursor: pointer;
}

.likesBtn:hover {
	color: #ff9d00;
}
.react__container {
	display: flex;
	align-items: center;
}
.modal {
	background-color: #ddd;
	position: fixed;
}
.modalInput {
	width: 100%;
	padding: 15px;
	margin-bottom: 15px;
}
.modal__content {
	background-color: #fff;
	width: 70%;
	padding: 30px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.modal__content > label {
	margin-bottom: 15px;
}
.navbar {
    width: 100%;
    padding: 10px 20px;
    background-color: #14213d;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: flex-start;
}

.navbar > h2 {
    color: #fffbf5;
}

.navbarRight {
    display: flex;
    align-items: center;
	margin-left: auto;
}

.navbarRight > button {
    padding: 15px;
    width: 150px;
    background-color: #ff9d00;
    color: #e5e5e5;
    font-size: 16px;
    border: none;
    outline: none;
    margin-left: 15px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.passwordPolicy {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.passwordPolicy h2 {
    margin-top: 0;
    color: #333;
}

.passwordPolicy p {
    margin: 10px 0;
    color: #666;
}

.passwordPolicy ul {
    padding-left: 20px;
}

.passwordPolicy li {
    margin-bottom: 10px;
    color: #333;
}

.centeredParagraph {
	text-align: center;
}

h3.repliesPost {
	width: 900px;
	text-align: center;
}

.profile-link {
	padding: 15px;
	width: 150px;
	background-color: #fca311;
	color: #e5e5e5;
	font-size: 16px;
	border: none;
	outline: none;
	margin-left: 15px;
	cursor: pointer;
	border-radius: 3px;
	text-align: center;
  }

  .navbarRight > button:hover,
  .profile-link:hover {
	background-color: #fca311;
  }

  .forum-link {
	color: #fff;
	transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .forum-link:hover {
	color: #fca311;
  }

  .username-link {
	color: #000;
	opacity: 1;
	text-decoration: none;
  }

  .username-link:hover {
  	opacity: 0.5;
  }

  .username-link:visited {
	color: #000;
  }

  .profile-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ebe5e5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.profile-container h3 {
    color: #333;
    margin-bottom: 5px;
}

.profile-container p {
    color: #666;
    margin-bottom: 20px;
    font-size: 16px;
}

.profile-form {
	display: flex;
	flex-direction: column;
	align-items: stretch; 
	justify-content: center;
	width: 600px; 
	margin: 0 auto; 
  }
  
  .profile-label {
	margin: 10px 0;
	display: block;
  }
  
  .profile-input {
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 100%;
  }
  
  .profile-submit {
	padding: 10px 20px;
	background-color: #14213d;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
  }
  
  .profile-submit:hover {
	background-color: #0b1429;
  }

  .profile-textarea {
	width: 100%;
	height: 150px; 
	padding: 12px 20px; 
	box-sizing: border-box; 
	border: 2px solid #ccc; 
	border-radius: 4px; 
	background-color: #f8f8f8; 
	resize: none; 
  }

.thread__author-date {
  margin-bottom: 15px;
}

.sidebar {
	z-index: 1000;
	display: flex;
	flex: 1;
	justify-content: space-between;
	flex-direction: column-reverse;
	width: 30%;
	align-items: flex-start;
	position: fixed;
	top: 15%;
	left: 5%;
}

.shoutbox {
    width: 100%;
    height: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
	margin-bottom: 500px;
}

.shoutbox__messages {
    flex-grow: 1;
    display: flex;
	width: 100%;
    flex-direction: column-reverse;
    gap: 10px;
}

.shoutbox-input{
	width: 100%;
}

.message {
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
}

.userId {
    font-weight: bold;
}

.shoutbox-button {
    width: 100%;
    padding: 5px;
    background-color: #14213d;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.shoutbox-button:hover {
    background-color: #0b1429;
}

.create-thread-prompt {
	border: 1px solid #ccc;
    order: 1;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 30px;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    max-height: 90%;
	padding: 20px;
	box-sizing: border-box;
}

.dropdown-container {
	position: relative;
	display: inline-block;
	width: 15%;
}

.navbar .search-container {
    display: flex; /* Added this to align the search bar items horizontally */
	height: 40px;
	align-items: center;
	margin-left: 3.5%;
}

.navbar .search-input {
    font-size: 16px;
    border: 1px solid grey;
    width: 200px;
    background: #f1f1f1;
	height: 100%;
	max-height: 40px;
	padding: 10px;
	margin: 0;
}

.navbar .search-button {
	padding: 10px;
	width: 40px;
	background-color: #fca311;
	color: #e5e5e5;
	font-size: 16px;
	border: none;
	outline: none;
	margin-left: 15px;
	cursor: pointer;
	border-radius: 3px;
	text-align: center;
	height: 40px;
}

.navbar .search-button:hover {
    background: #fca311;
}

.advertisement {
	width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ebe5e5;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.advertisement h2 {
    color: #333;
    margin-bottom: 10px;
}

.advertisement h3 {
    color: #666;
    margin-bottom: 10px;
}

.advertisement p {
    color: #999;
    margin-bottom: 10px;
}